body {
  background-color: #001133;
  font-family: Georgia, oswald-italic, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif, Arial;
  padding: 1vh;
}
a:link
{
	color:white;
}
a:visited
{
	color: white;
}
a:hover
{
	background-color: none;
	color:#001133;
	text-decoration: none;
}
#hello
{
	color: white;
	font-size: 111px;
	width: 19vw;
	height: 18vh;
	margin-top:15vh;
	margin-left:40vw;
}
#hello-col
{
	top:-2.5vh; 
}
#name
{
	position: relative;
	margin-left: 0.5vw;
	font-style: italic;
	color:white;
	top:1vh;
	font-size:17px;
	margin-left:40vw;
}
#about-resume-linkedin
{
	position: relative;
	margin-left:27.5vw;
	margin-top:5vh;
	width:75vw;
}
#left
{
	font-weight: bold;
}
.btn
{
	color:white;
	border-color: white;
}
.btn:hover
{
	background-color: white;
}
.modal-dialog
{
	top:50vh;
	color:#001133;
}
.modal-body
{
	height: 27vh;
	font-size: 13px;
}

@media (min-width: 576px) 
{

	#About
	{
		top:2vh;
		left:45vw;
	}
	#Resume
	{

		top:12vh;
		left:42vw;
		
	}
	#LinkedIn
	{
		top:7vh;
		left:40.5vw;

	}
}

