body {
  background-color: rgb(10, 25, 47);
  font-family: Futura, Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  padding: 1vh;
  max-width: 98vw!important;
}

a:link
{
	color:#e69215;
}
a:visited
{
	color:#e69215;
}
a:hover
{
	background-color: none;
	color:white;
	text-decoration: underline;
	text-shadow: 20px;
}
.btn
{
	color:#e89110;
	border-color: #e89110;
	font-size: 14px;
}

.btn:hover
{
	background-color: #e89110;
	border-color: #e89110;
	color: rgb(10, 25, 47);
}


.navigation-space
{
	margin-left: 5vw;
}


#navBar
{
	margin-top: 1vh;
	margin-left: 50vw;
	font-size: 14px;
	margin-bottom: 25vh;


}

#hello
{
	color: #e69215;
	font-size: 15px;
	width: 19vw;
	letter-spacing: 2px;
	height: 18vh;
	margin-top:17vh;
	margin-left:10vw;

}

.social-media-icons
{
	margin-left: 3vw;
	width: 5vw;
	color: black;
}

#social-media-buttons
{
	margin-top: 2vh;
	margin-left: 10vw;
}


/* The difference between I'm and Muhammad Daniyal Saqib */
#hello-col
{
	top: -1vh; 
}
#name
{
	
	margin-left: 0.5vw;
	color:white;
	top:1vh;
	letter-spacing: 2px;
	font-size:50px;
	margin-left:10vw;
	margin-top: -17vh;
	font-style: bold;
}

#Tagline
{
	position: relative;
	margin-left: 0.5vw;
	color:white;
	top:1vh;
	letter-spacing: 2.5px;
	font-size:15px;
	margin-left:10vw;
	max-width: 39vw;
	
}

#get-in-touch-button
{
	margin-top: 5vh;
	margin-left: 10vw;
	color: #e89110;
}

#social-media-buttons
{
	margin-top: 2vh;
}


#get-in-touch-button:hover
{
	background-color: #e89110;
	border-color: #e89110;
	color: rgb(10, 25, 47);
}



.left
{
	margin-left: 10vw;
}




.inline-references
{
	color: #e69215;
}



@media (max-width: 576px) 
{
	#name-col
	{
		margin-top:-6vh !important;
		min-width: 105vw !important;
	}

	.colS
	{
		position: relative;
		left:-30vw;
		margin-top:-2vh;
	}

	.colSB
	{
		position: relative;
		left:-18vw;
		margin-top:3vh;
	}
	.cols
	{

		height: 50vh !important;
	}
	#left
	{
		width: 40% !important
	}



	
}

